src/Samples/PublishR.Mvc.ACommerce/Service References/ProductServiceReference/ProductService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PublishR.Sample.ProductService.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PublishR.Sample.ProductService.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CreateProductRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateProductRequest" nillable="true" type="tns:CreateProductRequest" />
  <xs:complexType name="DeleteProductRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ProductTodeleteId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeleteProductRequest" nillable="true" type="tns:DeleteProductRequest" />
  <xs:complexType name="GetProductsRequest">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GetProductsRequest" nillable="true" type="tns:GetProductsRequest" />
</xs:schema>