src/Samples/PublishR.Mvc.BCommerce/Service References/ProductServiceReference/ProductService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PublishR.Sample.ProductService.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PublishR.Sample.ProductService.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://service.publishr.com/ProductService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/PublishR.Sample.ProductService" />
  <xs:complexType name="ProductCreatedResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedProductId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductCreatedResponse" nillable="true" type="tns:ProductCreatedResponse" />
  <xs:complexType name="ProductDeletedResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDeletedResponse" nillable="true" type="tns:ProductDeletedResponse" />
  <xs:complexType name="ProductsResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PublishR.Sample.ProductService" minOccurs="0" name="Products" nillable="true" type="q1:ArrayOfProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductsResponse" nillable="true" type="tns:ProductsResponse" />
</xs:schema>