src/Samples/PublishR.NancyFx.CCommerce/Service References/ProductServiceReference/ProductService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://service.publishr.com/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PublishR.PubSub" />
  <xs:import schemaLocation="http://service.publishr.com/ProductService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/PublishR.Sample.ProductService.Request" />
  <xs:import schemaLocation="http://service.publishr.com/ProductService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/PublishR.Sample.ProductService.Response" />
  <xs:element name="Subscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PublishR.PubSub" minOccurs="0" name="subscription" nillable="true" type="q1:Subscription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PublishR.PubSub" minOccurs="0" name="subscription" nillable="true" type="q2:Subscription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnSubscribeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PublishR.Sample.ProductService.Request" minOccurs="0" name="request" nillable="true" type="q3:CreateProductRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/PublishR.Sample.ProductService.Response" minOccurs="0" name="CreateProductResult" nillable="true" type="q4:ProductCreatedResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/PublishR.Sample.ProductService.Request" minOccurs="0" name="request" nillable="true" type="q5:DeleteProductRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/PublishR.Sample.ProductService.Response" minOccurs="0" name="DeleteProductResult" nillable="true" type="q6:ProductDeletedResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/PublishR.Sample.ProductService.Request" minOccurs="0" name="request" nillable="true" type="q7:GetProductsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/PublishR.Sample.ProductService.Response" minOccurs="0" name="GetProductsResult" nillable="true" type="q8:ProductsResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>