src/Samples/PublishR.NancyFx.CCommerce/Service References/ProductServiceReference/ProductService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PublishR.PubSub" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PublishR.PubSub" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://service.publishr.com/ProductService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Subscription">
    <xs:sequence>
      <xs:element name="_x003C_CallbackUrl_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_Handles_x003E_k__BackingField" nillable="true" type="q1:ArrayOfstring" />
      <xs:element name="_x003C_HubMethod_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_HubName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ServiceMethod_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SubId_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Subscription" nillable="true" type="tns:Subscription" />
</xs:schema>